<div class="trips-dashboard">
<main>
  <h1>Trips Dashboard</h1>
<table class="trips-dashboard-header">
  <thead>
    <tr>
      <th>Average Ride Duration</th>
      <th>Longest Ride</th>
      <th>Shortest Ride</th>
      <th>Most Popular Starting Station</th>
      <th>Most Popular Ending Station</th>
      <th>Most Ridden Bike</th>
      <th>Least Ridden Bike</th>
      <th>Date of Most Trips</th>
      <th>Date of Least Trips</th>
    </tr>
    </thead>
      <tbody>
      <tr>
        <td><%= @average_trip_duration %> minutes</td>
        <td><%= @longest_ride %> minutes</td>
        <td><%= @shortest_ride %> minutes</td>
        <td><%= @most_popular_start_station %> Station</td>
        <td><%= @most_popular_end_station %> Station</td>
        <td><%= @most_ridden_bike %> (<%= @most_ridden_bike_count %>)</td>
        <td><%= @least_ridden_bike %> (<%= @least_ridden_bike_count %>)</td>
        <td><%= @most_popular_date %> (<%= @most_popular_date_count %>)</td>
        <td><%= @least_popular_date %> (<%= @least_popular_date_count %>)</td>
      </tr>
    </tbody>
  </table>
</main>

<div class="trips-subscription-chart">
  <table>
    <h3>User Subscription Chart</h3>
    <% @subscription_types_breakdown.each do |type| %>
    <thead>
      <th><h3><%= type[1][0] %> (<%= type[0] %>)</h3></th>
    </thead>
    <tbody>
      <tr>
        <td><%= type[1][1] %>%</td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<div class="trips-monthly-yearly-chart">
  <table>
  <h3>Rides by Date:</h3>
  <thead>
    <% @yearly_breakdown.each do |yeardate, trip_count| %>
    <tr>
      <th><h2><%= "Rides in #{yeardate.strftime("%Y")}: "%><%= trip_count %></h2></th>
    <tr>
      <% @monthly_breakdown.each do |monthdate, trip_count| %>
      <tbody>
        <tr>
          <% if yeardate.strftime("%Y") == monthdate.strftime("%Y")%>
          <td><%= monthdate.strftime("%B") %> Count: <%= trip_count %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
  </thead>
  </tbody>
  </table>
</div>
</div>
