<h1> Stations Dashboard </h1>
<ul>
    <li>Total Number of Stations: <%= @stations_count %></li>
    <li>Average Number of Bikes per Station: <%= @average_num_bikes %></li>
    <li>Station with the most Bikes: <%= @station_with_most_bikes.name %> - <%= @station_with_most_bikes.dock_count %></li>
    <li>Stations with the most Bikes:
    <% @stations_with_most_bikes.each do |station| %>
      <%= station.name %> - <%= station.dock_count %>
    <%end%>
    </li>
    <li>Stations with the least Bikes:
    <% @stations_with_least_bikes.each do |station| %>
      <%= station.name %> - <%= station.dock_count %>
    <%end%>
    </li>
    <li>Most Recently Installed Station: <%= @most_recent_station %></li>
    <li>Oldest Station: <%= @oldest_installed_station %></li>
</ul>
