<h2>Orders</h2>
    <main>
<% @grouped_by_status.each do |status, qty| %>
  <p>Number of <%= status%> orders: <%= qty %></p>
  <%= link_to status,  %>
<%end%>
<table class="order">
    <%= link_to "All", admin_orders_path %>
    <%= link_to "Completed", '/admin/order/completed' %>
    <%= link_to "Paid", '/admin/order/paid' %>
    <%= link_to "Cancelled", '/admin/order/cancelled'%>
    <%= link_to "Ordered", '/admin/order/ordered' %>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Status</th>
    </tr>
    </thead>
      <tbody>
      <% @orders.each do |order| %>
      <tr>
      <td><%= link_to "#{order.id}", admin_order_path(order) %></td>
      <td><%=order.accessories.count%></td>
      <td>$<%=order.total_price%></td>
      <td><%=order.status%></td>
      </tr>
     <%end%>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</main>
