<h1>Admin Accessories</h1>
<% @accessories.each do |accessory| %>
  <div class="accessories">
    <div class='all-images'>

      <img ><%= image_tag(accessory.thumbnail) %></img>
    </div>
  <%= accessory.title %></br>
  <%= accessory.description %>
  <%= button_to "Edit", edit_admin_accessory_path(accessory.id), class: "btn btn-danger" %>
  <% if accessory.role == 0 %>
  <%= button_to "Reactivate", admin_update_accessory_path(accessory)%>
  <% else %>
  <%= button_to "Retire", admin_update_accessory_path(accessory)%>
  <% end %>
  <%= link_to "View Details", admin_bike_shop_path(accessory) %>
  </div>
<% end %>
<%= will_paginate @accessories %>
