<h1>Admin Accessories</h1>
<% @accessories.each do |accessory| %>
  <div class="accessories">
    <div class='all-images'>

      <img ><%= image_tag(accessory.thumbnail) %></img>
    </div>
  <%= accessory.title %>
  <%= accessory.description %>
  <%= button_to "Edit", edit_admin_accessory_path(id: accessory.id), class: "btn btn-danger" %>
  <%= button_to 'Status', admin_bike_shop_path(accessory), data: { method: :patch,
                                                 params: { item: { status: 1 } } } %>
  <!-- <%= button_to "Status", admin_update_accessory_path(id: accessory.id), class: "btn btn-danger" %> -->
  <%= link_to "View Details", admin_bike_shop_path(accessory) %>
  </div>
<% end %>
<%= will_paginate @accessories %>
