<h1>Admin Accessories</h1>
<% @accessories.each do |accessory| %>
  <div class="accessories">
    <div class='all-images'>

      <img ><%= image_tag(accessory.thumbnail) %></img>
    </div>
  <%= accessory.title %></br>
  <%= accessory.description %>
  <%= button_to "Edit", edit_admin_accessory_path(accessory), class: "btn btn-danger" %>
  <% if accessory.active? %>
    <%= form_for [:admin, accessory] do |f| %>
      <%= f.hidden_field :role, value: 'inactive' %>
      <%= f.submit  'Retire' %>
      <% end %>
    <% else %>
    <%= form_for [:admin, accessory] do |f| %>
      <%= f.hidden_field :role, value: 'active' %>
      <%= f.submit  'Reactive' %>
    <% end %>
  <% end %>
  <%= link_to "View Details", admin_bike_shop_path(accessory) %>
  </div>
<% end %>
<%= will_paginate @accessories %>
