<h1>Bike Shop:</h1>
<h2>Create an Accessory</h2>

<%= form_for :accessory do |f| %>
  Title: <%= f.text_field :title %><br />
  Price: <%= f.text_field :price%><br />
  Description: <%= f.text_field :description %><br />
  Image : <%= f.text_area :thumbnail %><br />
  <%= f.submit %>
<% end %>
