<main>
  <h1>Order: <%=@order.id%> Created at: <%=@order.created_at%></h1>
  <h3>Status: <%= @order.status %></h3>
  <% if @order.status == "completed" || "cancelled"%>
    <h1>Updated at: <%=@order.updated_at%></h1>
  <%end%>
<table class="order">
  <thead>
    <tr>
      <% if !current_user.nil? && current_user.admin? %>
      <th>Edit</th>
      <th>Delete</th>
      <% end %>
      <th>Accessory Name</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    </thead>
      <tbody>
      <tr class=order_<%= @order.id %>>
        <% if !current_user.nil? && current_user.admin? %>
        <td><%= link_to "Edit", edit_admin_order_path(@order) %></td>
        <td><%= link_to "Delete", admin_order_path(@order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% @order.accessories.uniq.each do |accessory|%>
        <tr>
          <td><%= accessory.title %></td>
          <td><%= accessory.quantity(@order.id) %></td>
          <td><%= accessory.subtotal(@order.id) %></td>
        <%end%>
        </tr>
    </tbody>
    <tfoot>
    <tf>Total: <%= @order.total_price %></tf>
    </tfoot>
  </table>
</main>