  <% @accessories.each do |accessory| %>
    <div class="accessories">
      <div class='all-images'>

        <img ><%= image_tag(accessory.thumbnail) %></img>
      </div>
    <%= accessory.title %>
    <%= button_to "Add to Cart", carts_path(id: accessory.id), class: "btn btn-danger" %>
    <%= link_to "View Details", accessory_path(accessory) %>
    </div>
  <% end %>
<%= will_paginate @accessories %>
