  <% @accessories.each do |accessory| %>
    <div class="accessories">
    <%= accessory.thumbnail %>
    <%= accessory.title %>
    <%= accessory.description %>
    <%= accessory.price %>
    <%= button_to "Add to Cart", carts_path(id: accessory.id), class: "btn btn-danger" %>
    </div>
  <% end %>
