<nav>
<% content_for :visitor do %>
<div class="header">
    <section class="grid">
      <section class="box1">
        <span><% flash.each do |type, message| %>
          <%= content_tag :div, sanitize(message), class: type %>
        <% end %></span>
      </section>
      <section class="box2">
          <div>
            <a href='/cart'>
               <%=image_tag("cart_icon.png", border: 0)%>
               <span>
                <%= @cart.total_count %>
              </span>
           </a>
          </div>
      </section>
  </section>
</div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <section id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/" target="_self">Home</a></li>
      <li><a href="/trips" target="_self">Trips</a></li>
      <li><a href="/stations" target="_self">Stations</a></li>
      <li><a href="/accessories" target="_self">Accessories</a></li>
      <li></li>
      <li><a href="/login" target="_self">Log In</a></li>
      <li><a href="users/new" target="_self">Create Account</a></li>
    </ul>
  </section>
  <% end %>


<% content_for :user do %>
  <div class="header">
      <section class="grid">
        <section class="box1">
          <span><% flash.each do |type, message| %>
              <%= content_tag :div, sanitize(message), class: type %>
          <% end %></span>
          <% if !current_user.nil? && !current_user.admin? %>
            <span class="htext">Logged in as <%= current_user.username %></span>
          <%end%>
          <% if !current_user.nil? && current_user.admin? %>
          <span class="htext">Logged in as Admin: <%= current_user.username %></span>
          <%end%>
        </section>
        <section class="box2">
            <div>
              <a href='/cart'>
                 <%=image_tag("cart_icon.png", border: 0)%>
                 <span>
                  <%= @cart.total_count %>
                </span>
             </a>
            </div>
        </section>
      </section>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <section id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/" target="_self">Home</a></li>
      <li></li>
      <li><a href="/trips" target="_self">Trips</a></li>
      <li><a href="/stations" target="_self">Stations</a></li>
      <% if !current_user.nil? && current_user.admin? %>
      <li><a href="/admin/bike-shop" target="_self">Accessories</a></li>
      <% else %>
      <li><a href="/bike-shop" target="_self">Accessories</a></li>
      <% end %>
      <% if !current_user.nil? && current_user.admin?%>
        <li><a href="/admin/dashboard" target="_self">Dashboard</a></li>
      <%end%>
      <% if !current_user.nil? && !current_user.admin? %>
        <li><a href="/dashboard" target="_self">Dashboard</a></li>
        <li><a href="/trips-dashboard" target="_self">Trips Dashboard</a></li>
        <li><a href="/stations-dashboard" target="_self">Station Dashboard</a></li>
      <%end%>
      <li></li>
      <% if !current_user.nil? && current_user.admin?%>
        <li><a href="/admin/accessories/new" target="_self">Create Accessory</a></li>
        <li><a href="/admin/trips/new" target="_self">Create Trip</a></li>
        <li><a href="/admin/stations/new" target="_self">Create Station</a></li>
        <li></li>
      <%end%>
      <% if !current_user.nil? %>
        <li><a href="/users/<%="#{current_user.id}"%>" target="_self">Account</a></li>
        <li><a href="/logout" target="_self">Log Out</a></li>
      <%else%>
      <li><a href="/login" target="_self">Log In</a></li>
      <li><a href="users/new" target="_self">Create Account</a></li>
      <%end%>
    </ul>
  </section>
  <%end%>



</nav>
