<link rel="stylesheet" href="app/stylesheets/nav.css">
<nav>
<<<<<<< HEAD
<% content_for :visitor do %>
  <div class="header">
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <section id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/" target="_self">Home</a></li>
      <li><a href="/trips" target="_self">Trips</a></li>
      <li><a href="/stations" target="_self">Stations</a></li>
      <li><a href="/accessories" target="_self">Accessories</a></li>
      <li></li>
      <li><a href="/login" target="_self">Log In</a></li>
      <li><a href="users/new" target="_self">Create Account</a></li>
    </ul>
  </section>
=======

  <% content_for :visitor do %>
    <div class="user-nav">
  <%= link_to "Log In", login_path %>
    <%= link_to "Create Account", new_user_path %>
    <%= link_to "Trips", trips_path %>
    <%= link_to "Stations", stations_path %>
    <%= link_to "Accessories", accessories_path %>
  </div>
>>>>>>> e49e96370673f96c423fb218c6c476b7633c9ccb
  <% end %>



  <% content_for :user do %>
  <div class="user-nav">
      <% if !current_user.nil? %>
        <%= link_to "Home", root_path %>
        <%= link_to "Account", user_path(current_user) %>
        <%= link_to "Trips", trips_path %>
        <%= link_to "Stations", stations_path %>
        <% if !current_user.admin? %>
        <%= link_to "Accessories", accessories_path %>
        <% else %>
        <%= link_to "Accessories", admin_bike_shop_path %>
        <% end %>
        <div class="log-out">

          <%= link_to "Log Out", logout_path %>
        </div>
        <% if !current_user.admin? %>
          <%= "Logged in as: #{current_user.username}" %>
        <% else %>
        <%= link_to "Create New Trip", new_admin_trip_path %>
        <%= link_to "Create New Accesory", admin_bike_shop_accessory_new_path %>
        <div class="welcome-user">

          <%= "Logged in as Admin User: #{current_user.username} "%>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</nav>
