<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: type %>
    <% end %>
    <div class="cart-tracker">

      <h3><%= link_to "Cart: #{@cart.total_count}", cart_path %></h3>
    </div>
    <container>
     <% if current_user.nil? %>
       <% render 'layouts/navbar' %>
       <%= yield :visitor %>
     <% else %>
       <% render 'layouts/navbar' %>
       <%= yield :user %>
       <% if current_user.admin? %>
         <%= yield :admin %>
       <% end %>
     <% end %>
     <%= yield %>
   </container>
  </body>
</html>
